nav {
    padding: 2rem;
    background-color: var(--color-blue-1);
    box-shadow: 0px 0px 10px 3px #00000044;
    background: linear-gradient(90deg, #187bcd, #52bcfa, #187bcd);
    position: relative;
    z-index: 11;
}

.logo {
    color: var(--color-dark-1);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 2.8rem;
    font-weight: 600;
    position: absolute;
    right: 0;
}

nav .container {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

nav ul {
    display: flex;
    gap: 3rem;
}

nav ul li {
    list-style-type: none;
    font-size: 1.6rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-white-1);
    padding: 0.5rem;
}

nav ul li a:hover {
    border-bottom: 1px solid var(--color-white-1);
}
